{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<form action="">
    <h2 class="title-page">{{ title }}</h2>

    {#Formulario Antecedentes Generales#}
    <h3 class="section-title"> ANTECEDENTES GENERALES </h3>
    <div class="row">
        <div class="col-md-6 form-report">
            
            <div class="field-form">
                <label>N° de API:</label>
                <select class="form-control">
                    <option>Seleccione API</option>
                </select>
            </div>

            <div class="field-form">
                <label>N° de Contrato:</label>
                <select class="form-control">
                    <option>Seleccione N° de Contrato</option>
                </select>
            </div>

            <div class="field-form">
                <label>Fecha de Inicio:</label>
                <label></label>
            </div>

            <div class="field-form">
                <label>Especialidad:</label>
                <select class="form-control">
                    <option>Seleccione Especialidad</option>
                </select>
            </div>

            <div class="field-form">
                <label>Referencia Utilizada:</label>
                <select class="form-control">
                    <option>Seleccione Referencia</option>
                </select>
            </div>

            <div class="field-form">
                <label>Nombre Referencia:</label>
                <input class="form-control"/>
            </div>

        </div>

        <div class="col-md-6 form-report">

            <div class="field-form">
                <label>Nombre del Proyecto:</label>
                <label></label>
            </div>

            <div class="field-form">
                <label>Empresa Contratista:</label>
                <label></label>
            </div>

            <div class="field-form">
                <label>Fecha de Termino:</label>
                <label></label>
            </div>

            <div class="field-form">
                <label>Fecha de Registro:</label>
                <input class="form-control" />
            </div>

            <div class="field-form">
                <label>Referencias Registradas:</label>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Referencia</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>

            <input class="btn btn-danger" type="button" value="Eliminar"/>
        </div>
    </div>

    <h2 class="title-page">{{ title }}</h2>
    {#Formulario Control de Avance por Actividad (Programada y No Programada)#}
    <div class="row">

        <h3 class="section-title"> CONTROL DE AVANCE POR ACTIVIDAD SEGÚN PROGRAMA </h3>
        <h4 class="subsection-title"> INGRESO ACTIVIDADES PROGRAMADAS </h4>
        <div class="row">
            <div class="col-md-6 form-report">
                <label>Nombre de Sub Actividad:</label>
                <select class="form-control">
                    <option>Seleccione Sub Actividad</option>
                </select>
            </div>

            <div class="col-md-6 form-report">
                <label>Nombre de Actividad:</label>
                <select class="form-control">
                    <option>Seleccione Actividad</option>
                </select>
            </div>
        </div>

        <div class="form-section row">
            <div class="col-md-2 form-report">
                <label>Cantidad Real:</label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Unidad:</label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Total Estimado:</label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Referencia Diaria: </label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Total Acumulado:</label>
                <input class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-report">
            <label>Cumplimiento:</label>
            <select class="form-control">
                <option>Si o No</option>
            </select>
        </div>

        <div class="col-md-4 form-report">
            <label>Causa de NO Cumplimiento:</label>
            <select class="form-control">
                <option>Seleccione Causa</option>
            </select>
        </div>

        <div class="col-md-4 form-report">
            <label>Detalle:</label>
            <input class="form-control"/>
        </div>

    </div>

    <div class="row">
        <input type="button" value="Agregar" class="btn btn-danger"/>
    </div>

    <div class="separator"></div>


    <div class="row">
        <h4 class="subsection-title"> INGRESO ACTIVIDADES NO PROGRAMADAS </h4>
        <div class="row">
            <div class="col-md-6 form-report">
                <label>Nombre de Sub Actividad:</label>
                <select class="form-control">
                    <option>Seleccione Sub Actividad</option>
                </select>
            </div>

            <div class="col-md-6 form-report">
                <label>Nombre de Actividad:</label>
                <select class="form-control">
                    <option>Seleccione Actividad</option>
                </select>
            </div>
        </div>

        <div class="form-section row">
            <div class="col-md-2 form-report">
                <label>Cantidad Real:</label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Unidad:</label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Total Estimado:</label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Referencia Diaria: </label>
                <input class="form-control" />
            </div>
            <div class="col-md-2 form-report">
                <label>Total Acumulado:</label>
                <input class="form-control" />
            </div>
        </div>

        <div class="col-md-4 form-report">
            <label>Cumplimiento:</label>
            <select class="form-control">
                <option>Si o No</option>
            </select>
        </div>

        <div class="col-md-4 form-report">
            <label>Causa de NO Cumplimiento:</label>
            <select class="form-control">
                <option>Seleccione Causa</option>
            </select>
        </div>

        <div class="col-md-4 form-report">
            <label>Detalle:</label>
            <input class="form-control"/>
        </div>

    </div>

    <div class="row">
        <input type="button" value="Agregar" class="btn btn-danger"/>
    </div>

    <div class="separator"></div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre SubActividad</th>
                <th scope="col">Cantidad Real</th>
                <th scope="col">Unidad</th>
                <th scope="col">Total Programado</th>
                <th scope="col">Ref.Día</th>
                <th scope="col">Cumplimiento</th>
                <th scope="col">Causa No Cumplimiento</th>
                <th scope="col">Total Acumulado</th>
                <th scope="col">Tipo Actividad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</form>
{% endblock %}
