{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ITO PROJECT es un lugar para administrar las tareas o actividades diarias
            relacionadas a proyectos mineros o relacionados que continuamente
            se llevan a cabo en la empresa Metaproject.
            Entre las opciones que la plataforma lleva a cabo, se encuentran el registro
            de informes diarios acerca de la actividad, búsqueda detallada de las
            actividades
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>

</div>

{% endblock %}
