{% extends 'app/layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">

        <div class="row">
            <div>
                {% if user.is_authenticated %}
                <h2 class="title-name">Bienvenido(a) {{ user.get_full_name }}</h2>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2 class="title-description">BIENVENIDOS <br /> A ITO PROJECT</h2>
                <p class="text-description">
                    ITO Project es un lugar para administrar las diversas tareas o actividades llevadas a cabo en proyectos de carácter minero en su gran mayoría. La plataforma cuenta con diferentes opciones, tales como el ingreso diario de la actividad a través de un registro detallado. También se ocupa de la visualización o consulta ya sea de forma detallada o simple.
                </p>
            </div>
            <div class="col-md-6">
                <section class="section-home_img">
                    <figure>
                        <img class="home-img center" src="{% static 'app\img\lugar.jpg' %}"/>
                    </figure>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
