{% load staticfiles %}
{% load auth_extras %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{ title }} - ITO Project</title>

        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/mobile.css' %}" media="(max-width: 768px)" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.jqueryui.min.css" />
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/file-saverjs@1.3.6/FileSaver.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/tableexport@5.2.0/dist/js/tableexport.min.js"></script>
        <script src="{% static 'app/scripts/javascript.js' %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/datatables.min.css' %}" />
        <script src="{% static 'app/scripts/datatables.min.js' %}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body>

        <nav id="nav-header" class="navbar navbar-inverse personal-navbar">
            <div class="header-layout navbar-img">
                <h3> ITO PROJECT </h3>
                <h1> INFORME DE INSPECCIÓN<br /> DIARIA</h1>
                <figure class="letra-puntos">
                    <img src="{% static 'app\img\Puntos.png' %}" />
                </figure>
            </div>
            <div class="container">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <figure>
                        <img class="logo-brand" src="{% static 'app\img\logo.png' %}" />
                    </figure>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li id="nav-item-id" class="nav-item"><a href="{% url 'home' %}">Inicio</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Informe de Inspeccion Diario
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'generatereport' %}">Registro de Informe Inspeccion Diaria</a>
                                <a class="dropdown-item" href="{% url 'searchactivities' %}">Consulta de Reportes</a>
                            </div>
                        </li>         
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Observacion de Caminata
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'registerwalkreport' %}">Registro de Observacion en Caminata</a>
                                <a class="dropdown-item" href="{% url 'searchwalkreport' %}">Consulta de Observacion en Caminata</a>
                            </div>
                        </li>  
                        {% if request.user|has_group:"P&C" %}
                        <li id="nav-item-id" class="nav-item"><a href="{% url 'loadfiles' %}">Cargar</a></li>
                        {% endif %}
                        {% else %}
                        {% endif %}
                        <li id="nav-item-id" class="nav-item"><a href="{% url 'contact' %}">Contacto</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li id="nav-item-id" class="nav-item"><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        {% else %}
                        <li id="nav-item-id" class="nav-item"><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
 <!--<div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">


                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Inicio</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'generatereport' %}">Registro de Informe</a></li>
                        <li><a href="{% url 'searchactivities' %}">Consulta</a></li>
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        {% if request.user|has_group:"P&C" %}
                        <li><a href="{% url 'loadfiles' %}">Cargar</a></li>
                        {% endif %}
                        {% else %}
                        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        {% endif %}
                        <li><a href="{% url 'contact' %}">Contacto</a></li>
                    </ul>
                </div>

            </div>



        </div>-->
    
        <div class="container-fluid">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <footer>
            <section>
                <figure>
                    <img src="{% static 'app\img\logo-white.png' %}" />
                </figure>
                <ul class="footer-nav">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'generatereport' %}">Registro de Informe</a></li>
                    <li><a href="{% url 'searchactivities' %}">Consulta</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% if request.user|has_group:"P&C" %}
                    <li><a href="{% url 'loadfiles' %}">Cargar</a></li>
                    {% endif %}
                    {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    {% endif %}
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                    <li><a href="https://www.metaproject.cl/">Sitio Oficial</a></li>
                </ul>
            </section>

            <p>&copy; {{ year }} - Todos los derechos reservados</p>

        </footer>

        {% block scripts %}
        <script src="{% static 'app/scripts/respond.js' %}"></script>
        {% endblock %}
        <script type="text/javascript">
            
            $(document).ready(function() {
	            // get current URL path and assign 'active' class
	            var pathname = window.location.pathname;
	            $('.navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
            })
                
        </script>
    </body>
</html>

