{% load staticfiles %}
{% load auth_extras %}
<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{ title }} - ITO Project</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/scss/custom.scss' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/mobile.css' %}" media="(max-width: 768px)" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/file-saverjs@1.3.6/FileSaver.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/tableexport@5.2.0/dist/js/tableexport.min.js"></script>
        <!--<script src="{% static 'app/scripts/itoreport-scripts/javascript.js' %}"></script>-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/datatables.min.css' %}" />
        <script src="{% static 'app/scripts/datatables.min.js' %}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="header-layout navbar-img">
                <h3> ITO PROJECT </h3>
                <h1> INFORME DE INSPECCIÓN<br /> DIARIA</h1>
                <figure class="letra-puntos">
                    <img src="{% static 'app\img\Puntos.png' %}" />
                </figure>
            </div>
            <div class="px-3 py-2 bg-light bg-gradient text-dark">
                <div class="container">

                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a class="navbar-brand" href="#">
                          <img src="{% static 'app\img\logo.png' %}" alt="Logo Metaproject" class="d-inline-block align-text-bottom logo-brand">
                        </a>
                        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                        </a>

                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="{% url 'home' %}" class="nav-link text-dark">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                            Inicio
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                                Reportes 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li>Inspeccion Diaria</li>
                            <li><a class="dropdown-item" href="{% url 'generatereport' %}">Registro de Informe Inspeccion Diaria</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchactivities' %}">Consulta de Inspeccion Diaria</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>Caminatas</li>
                            <li><a class="dropdown-item" href="{% url 'registerwalkreport' %}">Registro de Observacion en Caminata</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchwalkreport' %}">Consulta de Observacion en Caminata</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>No Conformidad en Terreno</li>
                            <li><a class="dropdown-item" href="{% url 'registernonconformityreport' %}">Registro de No Conformidad</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchnonconformity' %}">Consulta de No Conformidad</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>Lista ISC</li>
                            <li><a class="dropdown-item" href="{% url 'registeriscreport' %}">Registro de Lista ISC</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchwalkreport' %}">Consulta de Listas ISC</a></li>
                            </ul>
                        </li>
                        {% if request.user|has_group:"P&C" %}
                        <li>
                            <a href="{% url 'loadfiles' %}" class="nav-link text-dark">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                            Carga de Datos
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3">
                <div class="container d-flex flex-wrap justify-content-center">
                    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="text-end">
                        {% if user.is_authenticated %}                        
                        <button type="button" class="btn btn-light text-dark me-2">Cerrar Sesion</button>
                        {% else %}
                        <button type="button" class="btn btn-light text-dark me-2">Iniciar Sesion</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>  

        <div class="container-fluid">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <footer>
            <section>
                <figure>
                    <img src="{% static 'app\img\logo-white.png' %}" />
                </figure>
                <ul class="footer-nav">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'generatereport' %}">Registro de Informe</a></li>
                    <li><a href="{% url 'searchactivities' %}">Consulta</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% if request.user|has_group:"P&C" %}
                    <li><a href="{% url 'loadfiles' %}">Cargar</a></li>
                    {% endif %}
                    {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    {% endif %}
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                    <li><a href="https://www.metaproject.cl/">Sitio Oficial</a></li>
                </ul>
            </section>

            <p>&copy; {{ year }} - Todos los derechos reservados</p>

        </footer>

        {% block scripts %}
        <script src="{% static 'app/scripts/respond.js' %}"></script>
        {% endblock %}
        <script type="text/javascript">
            
            $(document).ready(function() {
	            // get current URL path and assign 'active' class
	            var pathname = window.location.pathname;
	            $('.navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
            })
                
        </script>
    </body>
</html>

