{% load staticfiles %}
{% load auth_extras %}
<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{ title }} - ITO Project</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/scss/custom.scss' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/mobile.css' %}" media="(max-width: 768px)" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/file-saverjs@1.3.6/FileSaver.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/tableexport@5.2.0/dist/js/tableexport.min.js"></script>
        <!--<script src="{% static 'app/scripts/itoreport-scripts/javascript.js' %}"></script>-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/datatables.min.css' %}" />
        <script src="{% static 'app/scripts/datatables.min.js' %}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'app/scripts/jquery-ui/jquery-ui.min.js' %}"></script>
    </head>

    <body>
        <header>
            <div class="header-layout navbar-img">
                <h3> ITO PROJECT </h3>
                <h1> INFORME DE INSPECCIÓN<br /> DIARIA</h1>
                <figure class="letra-puntos">
                    <img src="{% static 'app\img\Puntos.png' %}" />
                </figure>
            </div>
            <div class="px-3 py-2 bg-light bg-gradient text-dark">
                <div class="container">

                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a class="navbar-brand" href="#">
                          <img src="{% static 'app\img\logo.png' %}" alt="Logo Metaproject" class="d-inline-block align-text-bottom logo-brand">
                        </a>
                        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                        </a>

                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="{% url 'home' %}" class="nav-link text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door mx-auto mb-1" viewBox="0 0 16 16">
                                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                                </svg>
                            Inicio
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal-richtext" viewBox="0 0 16 16">
                                  <path d="M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                </svg>
                                Reportes 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li class="text-center">Inspeccion Diaria</li>
                            <li><a class="dropdown-item" href="{% url 'generatereport' %}">Registro de Informe Inspeccion Diaria</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchactivities' %}">Consulta de Inspeccion Diaria</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="text-center">Caminatas y Detalles de Terminación</li>
                            <li><a class="dropdown-item" href="{% url 'registerwalkreport' %}">Registro de Observacion en Caminata</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchwalkreport' %}">Consulta de Observacion en Caminata</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchterminationdetails' %}">Detalles de Terminacion</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="text-center">No Conformidad en Terreno</li>
                            <li><a class="dropdown-item" href="{% url 'registernonconformityreport' %}">Registro de No Conformidad</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchnonconformity' %}">Consulta de No Conformidad</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="text-center">Lista ISC</li>
                            <li><a class="dropdown-item" href="{% url 'registeriscreport' %}">Registro de Lista ISC</a></li>
                            <li><a class="dropdown-item" href="{% url 'searchiscreport' %}">Consulta de Listas ISC</a></li>
                            <li><a class="dropdown-item" href="{% url 'addqualityrequirement' %}">Agregar Requisito de Calidad</a></li>
                            </ul>
                        </li>
                        {% if request.user|has_group:"P&C" %}
                        <li>
                            <a href="{% url 'loadfiles' %}" class="nav-link text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                              <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                            Carga de Datos
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3">
                <div class="container d-flex flex-wrap justify-content-center">
                    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="text-end">
                        {% if user.is_authenticated %}                        
                        <a type="button" href="{% url 'logout' %}" class="btn btn-light text-dark me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </a>
                        {% else %}
                        <a type="button" href="{% url 'login' %}" class="btn btn-light text-dark me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        Iniciar Sesion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>  

        <div class="container-fluid">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <footer>
            <section>
                <figure>
                    <img src="{% static 'app\img\logo-white.png' %}" />
                </figure>
                <ul class="footer-nav">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'generatereport' %}">Registro de Informe</a></li>
                    <li><a href="{% url 'searchactivities' %}">Consulta</a></li>
                    <li>
                        <a href="{% url 'logout' %}">
                        Cerrar Sesión
                        </a>
                    </li>
                    {% if request.user|has_group:"P&C" %}
                    <li><a href="{% url 'loadfiles' %}">Cargar</a></li>
                    {% endif %}
                    {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    {% endif %}
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                    <li><a href="https://www.metaproject.cl/">Sitio Oficial</a></li>
                </ul>
            </section>

            <p>&copy; {{ year }} - Todos los derechos reservados</p>

        </footer>

        {% block scripts %}
        <script src="{% static 'app/scripts/respond.js' %}"></script>
        {% endblock %}
        <script type="text/javascript">
            
            $(document).ready(function() {
	            // get current URL path and assign 'active' class
	            var pathname = window.location.pathname;
	            $('.navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
            })
                
        </script>
    </body>
</html>

