{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<form class="form-load" action="">
    <h2 class="title-page">{{ title }}</h2>

    <h5>Para cargar datos, subir el excel que los contiene. <br />
        Antes de cargar, verificar que los datos subidos esten correctamente estructurados.</h5>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.14.1/dist/xlsx.full.min.js"></script>

    <div id="wrapper" class="btn-save">
        <input id="input-excel" class="btn btn-danger" value="Subir Excel" type="file"/>
    </div>

   <div class="row">
        <div class="col-md-3 form-report">
            <div class="field-form">
                <label>Tabla:</label>
                <select class="form-control">
                    <option>Seleccione Tabla</option>
                </select>
            </div>
        </div>
   </div>
   <table class="table table-load">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}
