{
    % load staticfiles %
}
* {

}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-layout {
    padding-top: 5rem;
    max-height: 40rem;
    background-color: #DECFCF;
    font-family: Lato, Helvetica, sans-serif;
    border-radius: 0;
    border: none;
}

.header-layout h3 {
    padding-top: 10rem;
    color: #F73434;
    font-weight: bold;
    text-align: center;
}

.header-layout h1 {
    color: #000000;
    font-weight: bold;
    padding-bottom: 10rem;
    text-align: center;
    font-size: 5rem;
}

.navbar {
    background-color: #DECFCF;
}

.nav {
    padding-top: 2rem;
}

.logo-brand {
    left: 2rem;
    max-width: 10rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.nav, navbar-collapse figure {
    display: inline-block;
}

.nav li a {
    color: #BD5A37;
    font-weight: 600;
}

.letra-puntos {
    position: relative;
    left: 65%;
    bottom: 35rem;
    min-height: 10rem;
    max-width: 10rem;
}

footer {
    background-color: #47525E;
    margin: auto 0;
    max-height: 50rem;
}

footer figure img {
    max-width: 10rem;
}

footer figure {
    margin-left: 10px;
    margin-top: 40px;
}

.footer-nav {
    display: inline-block;
}

footer section {
    display: flex;
}

.footer-nav {
    padding: 4rem;
    margin-left: 5rem;
}

footer p {
    text-align: right;
    color: aliceblue;
    padding: 4rem;
    padding-top: 0;
    font-weight: bold;
    font-size: 1.8rem
}

.footer-nav li {
    list-style: none;
    line-height: 30px;
}

.footer-nav li a {
    color: aliceblue;
}

.footer-nav li a:hover {
    color: #F13300;
    text-decoration: none;
}

.footer-nav li a::after {
    content: '\A';
    white-space: pre;
}

/*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.section-home_img {
    padding: 5rem;
    margin: 5rem;
    background-color: #DECFCF;
    border: 2px solid #AB9A9A;
    border-radius: 10px;
    max-width: 700px;
}

.home-img {
    border: 2px solid #E35A2A;
    border-radius: 10px;
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.col-md-6 .text-description {
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: justify;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.col-md-6 .title-description {
    padding-left: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #C70000;
    padding-bottom: 2rem;
    margin-top: 15rem;
}

.title-page {
    text-transform: uppercase;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: #980F11;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title-name {
    text-transform: uppercase;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: #BC1416;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-top: 0.1rem;
}

.message {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.img-portrait {
    display: block;
    margin: auto;
}

.h1-person_name {
    text-align: center;
    color: #651111;
    font-weight: bold;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.p-person_description {
    text-align: center;
    color: #D22326;
    margin-bottom: 5rem;
}

.row {
    margin-right: 0px;
}

.field-form label, .field-form select {
    display: inline-block;
}

.field-form label, .field-form input {
    display: inline-block;
}

.field-form label {
    min-width: 25rem;
    margin-right: 5rem;
    text-align: right;
}

.field-form {
    margin-bottom: 5rem;
}

.section-title {
    text-align: center;
    margin-bottom: 5rem;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    color: #491818;
}

/*Formulario generatereport.html, Agregar Actividades
*/

.form-section {
    background-color: #D14648;
    padding-bottom: 2rem;
    padding-top: 2rem;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 2rem 2% 2rem 2%;
}

.form-section .form-report {
    width: auto;
}

.row-section {
    margin: 2% 5% 2% 5%;
}

.form-section .form-report {
    display: flex;
    margin: 0 auto;
    flex-flow: column;
}

.section-md-field 
.form-report 
select {
    width: 30%;
}

.section-md-field 
.form-report 
input {
    width: 30%;
}

.btn-save {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-load .btn-save{
    padding: 1% 36% 1% 36%;
}

.form-load .btn-save input {
    min-width: 40rem;
    padding-left: 1rem;
}

.btn-save .btn {
    width: 20rem;
}

.form-section .form-report label {
    color: aliceblue;
}

.form-section .form-control {
    width: 150px;
    margin: 0 auto;
}

.form-report .form-control {
    display: inline-block;
}

.row {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-report {
    text-align: center;
    margin-bottom: 20px;
}

.separator {
    margin: 0 auto;
    height: 0.4rem;
    border-radius: 5rem;
    width: 90%;
    background-color: #980F11;
}

.subsection-title {
    text-align: center;
    margin-bottom: 5rem;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    color: #974040;
}

.bar-enterprise {
    height: 10rem;
    background-color: #980F11;
    margin-bottom: 10rem;
    position: relative;
}

.radio-box {
    width: 25rem;
    background-color: #980F11;
    border-radius: 1rem;
    padding-bottom: 2rem;
    position: relative;
    bottom: 40%;
    margin: 0 auto;
}

.form-check-label, 
.radio-box .subsection-title {
    color: aliceblue;
}

.radio-box ul li {
    list-style: none;
}

.radio-box .subsection-title {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.bar-results {
    margin-top: 10rem;
}

.form-report .medium-text {
    width: 50rem;
    height: 20rem;
}

.field-form .medium-text {
    width: 28rem;
    height: 20rem;
}

.large-text {
    min-width: 288px;
    width: 80%;
    margin: 0 auto;
}

.img-submit {
    min-height: 150px;
    height: 200px;
    width: 200px;
    margin: 1rem;
}

.lab-img-sub {
    width: auto;
    justify-content: center;
    text-align: center;
}

.form-load
.row
.form-report {
    margin-left: 0%;
    display: inline-block;
}

.evidence {
    min-width: 288px;
    width: auto;
}


/*
    B�squeda de actividades 
*/
.form-search-act .btn-save {
    display: inline-block;
}

.form-search-act table, 
.table-load
{
    width: 90%;
}

h5 {
    justify-content: center;
    text-align:center;
    margin-top: 4rem;
}

/*Formulario login 
*/

.login-box {
    background-color: #DECFCF;
    max-width: 100rem;
    border-radius: 6px;
    text-align: center;
    margin: 0% 30% 0% 32%;
}

.login-box .row .col-md-8 {
    margin: 15% 15% 15% 15%;
}

.form-horizontal 
.form-group 
label {
    margin-left: 0rem;
    width: 10rem;
    padding-right: 10%;
    text-align: center;
    margin-bottom: 1rem;
}

.form-horizontal
.form-group
.form-control {
    min-width: 20rem;
}

.form-horizontal
.form-group
div
.btn {
    margin-left: 0;
}

.form-load 
.row
.form-report
.field-form
select {
    width: 16rem;
}

.form-load
.row
.form-report
.field-form {
    width: 80rem;
    padding-left: 0;
    margin-left: 55%;
}

.table-load-cont .danger,
article .danger {
    background-color: #F34B4B;
}

.table-load-cont .good,
article .good {
    background-color: #F2F541;
}

.table-load-cont .careful,
article .careful {
    background-color: #E5E76F;
}

.form-load {
    width: 100%;
}

.info-load--container {
    background: #e6c3c3;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 20px;
}

.info-load--container .info-button--container{
    vertical-align: middle;
    margin: auto 0;
}
.info-load--container .info-load--button {
    margin: 20px;
}

.info-load--container section article {
    display: flex;
    margin: 10px;
}

.info-load--button a {
    width: 220px;
}

.info-load--container section article p{
    vertical-align: middle;
    margin: auto 0;
}

.circle-representation {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.btn-save .load {
    margin: 0 auto;
}

.select-section--activities {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.image-section--containar {
    display: flex;
    justify-content: center;
}

.image-section--containar .btn {
    height: fit-content;
    /* vertical-align: middle; */
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: auto 0;
}

.title-image--container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.btn-section-container {
/*    display:flex;
    flex-flow: column;
    justify-content: center;*/
}

.form-horizontal .form-group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.navbar-toggle {
    background-color: #decfcf;
}

.navbar-header {
    background-color: #decfcf;
}

.navbar .container-fluid {
    background-color: #decfcf;
}

.navbar-inverse {
    box-shadow: none !important;
    border: none !important;
}

.container-fluid {
    border-width: thick;
}

.header-layout {
    border-bottom-width: thick;
    border-color: aliceblue;
}

.navbar-inverse .navbar-nav > li > a {
    color: #352424bd !important;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #5d4f4f !important;
}